!! Color Scheme
! special
*.foreground:   #c7ccd1
*.background:   #1c2023
*.cursorColor:  #c7ccd1
! black
*.color0:       #1c2023
*.color8:       #747c84
! red
*.color1:       #c7ae95
*.color9:       #c7ae95
! green
*.color2:       #95c7ae
*.color10:      #95c7ae
! yellow
*.color3:       #aec795
*.color11:      #aec795
! blue
*.color4:       #ae95c7
*.color12:      #ae95c7
! magenta
*.color5:       #c795ae
*.color13:      #c795ae
! cyan
*.color6:       #95aec7
*.color14:      #95aec7
! white
*.color7:       #c7ccd1
*.color15:      #f3f4f5

!! Font configuration

*.font: xft:TerminessTTF Nerd Font:style=Medium:size=10
*.boldFont: xft:TerminessTTF Nerd Font:style=Bold:size=10
*.italicFont: xft:TerminessTTF Nerd Font:style=Italic:size=10
*.boldItalicFont: xft:TerminessTTF Nerd Font:style=Bold Italic:size=10

!! Basic config

! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755: false
URxvt.iso14755_52: false

! Custom bindings
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

!! URxvt Appearance

URxvt.scrollBar: false
URxvt.geometry: 92x24
URxvt.cursorBlink: true
URxvt.internalBorder: 24
URxvt.depth: 24

