//@theme "/usr/share/rofi/themes/squared-everforest.rasi"
//@theme "/usr/share/rofi/themes/spotlight-dark.rasi"
//@theme "/usr/share/rofi/themes/rounded-green-dark.rasi"
//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
@theme "/usr/share/rofi/themes/sidebar.rasi"
